/* ==========================
 table of contents
=============================
1. footer 
2.responsive design
*/

/*============================
  1.footer
==============================*/
footer.flex {
  justify-content: space-between;
  padding-bottom: 2rem;
}

footer.flex ul {
  gap: 1rem;
}

footer.flex ul a {
  color: var(--subtitle);
  font-size: 0.9rem;
  font-weight: 400;
}

footer.flex ul a:hover {
  color: var(--blue);
  font-size: 1rem;
  font-weight: 500;
}
footer.flex p{
  color: rgb(113, 113, 122);
}
.scroll2Top{
  background-color: rgba(25, 118, 210, 0.85);
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  position: fixed;
  bottom: 2rem;
  right: 3%;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.scroll2Top:hover{
  background-color: rgba(25, 118, 210);

}
/*============================
  1.responsive
==============================*/
@media (max-width:800px) {
  footer.flex{
    flex-direction: column;
    gap: 2rem;
  }
  .scroll2Top{
    opacity: 0.6;
    width: 2.2rem;
    height: 2.2rem;
  }
}